@charset "utf-8";
body {
	overflow: hidden;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:99; /* makes sure it stays on top */
	-webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
    animation: background 5s cubic-bezier(1,0,0,1) infinite; 

	@-webkit-keyframes background {
	  0% { background-color: #f99; }
	  33% { background-color: #9f9; }  
	  67% { background-color: #99f; }
	  100% { background-color: #f99; }
	}

	@keyframes background {
	  0% { background-color: #f99; }
	  33% { background-color: #9f9; }  
	  67% { background-color: #99f; }
	  100% { background-color: #f99; }
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally on the screen */
	top:50%; /* centers the loading animation vertically on the screen */
	background-image:url('https://jacksonmajor.github.io/crypt/assets/images/status.gif'); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
