@charset "utf-8";
body {
	overflow: hidden;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fafafa; /* change if the mask should be a color other than white */
	z-index:99;
}

img#status {
	height:200px;
	width:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally on the screen */
	top:50%; /* centers the loading animation vertically on the screen */
	transform: translateY(-50%) translateX(-50%);
}
